body{
    background-color: #86aba1;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
form{
    display:flex;
    flex-direction:column;
    max-width: 500px;
    margin:40px auto;
    padding: 30px 50px 50px 50px;
    background-color:#ffe6e6;
    border-radius: 30px;
    box-shadow: 5px 10px 18px #333131;}

h2{
    text-align: center;
    padding-top:15px ;
}
button{
    margin-top: 20px;
}

label{
    font-size: 20px;    
    margin: 15px 0 15px 0 ;
}
input{
    height: 35px;
    border-radius: 5px;
    border: 1px solid silver;
    color: rgb(129, 129, 129);
    
}
input:focus {
    outline-color: green;
}

select:focus {
    border-color:green 
}

select{
    height: 35px;
    border-radius: 5px;
    border: 1px solid silver;
    color: rgb(129, 129, 129);
    
}
button{
    height: 40px;
    border-radius: 10px;
    color:white;
    font-size: 20px;
    background-color: rgb(66, 66, 224);
    border: 1px solid ;
}
p{
    background-color: white;
    max-width: 500px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
}
p:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,2);
    transform: translateY(-7px) translateX(3px);
   
}
#datos-pasajeros{
    display:flex;
    flex-direction:column;
    max-width: 500px;
    margin:40px auto;
    padding: 30px 50px 50px 50px;
    background-color:#ffe6e6;
    border-radius: 30px;
    box-shadow: 5px 10px 18px #333131;
    display: none;

}
#pasajero{
    margin-top:50px
}
#alerta{
    height: 80px;
    max-width: 500px;
    margin: 50px auto;    
    
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 10px 18px #333131;
    display: none;
}
.danger{
    background-color: rgb(177, 6, 6);
}
.success{
    background-color: green;
}

input[type=number]:hover::-webkit-inner-spin-button {  
    width: 20px;
    height: 40px;
}